# dependencies
/node_modules

# astro / build output
/dist/
/.astro/
/.vercel/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# local dev helper
dev-server.sh
